.App {
  font-family: 'Raleway', sans-serif;
  color: #1D3557;
  background-image: linear-gradient(to bottom right, #F1FAEE 50%, #A8DADC);
  padding: 1em;
  min-height: 100vh;
}

.Header {
  width: 100%;
  border: 5px double #457B9D;
  margin-bottom: 1em;
}
  td {
    letter-spacing: 2px;
    padding-left: 1em;
    padding-top: 0.25em;
  }

.Navbar {
  background-color: #1D3557;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
  .Navbar li {
    float: left;
  }
    .Navbar li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
      .Navbar li a:hover {
        background-color: #457B9D;
      } 

.ProjectList {
  margin: 2em;
}

.ProjectCard {
  margin-bottom: 0.5em;
  padding: 0em 0.5em 0em 0.5em;
  border: 1px double #A8DADC
}